<div>
  <div class="container">
    <div class="row">
      <div>
        <img
          src="https://stackblitz.com/files/wissen-angular-coding-challenge-2022-u7zacy/github/John-Ashish/wissen-angular-coding-challenge-2022-u7zacy/master/src/app/wissenlogo.PNG"
          alt=""
        />
        <h3><b>Hello there, Sign in to continue</b></h3>
      </div>
      <div class="col-lg-4">
        <form>
          <div>
            <label>Email</label>
            <input type="email" class="form-control my-3 p-2" />
          </div>
          <div>
            <label>Password</label>
            <input type="password" class="form-control my-3 p-2" />
          </div>
          <div class="checkbox">
            <input type="checkbox" />
            <span>
              By creating or logging into an account, you are agreeing with our
              <b>Terms & Conditions</b> and <b>Privacy Policys.</b></span
            >
          </div>
          <div>
            <button type="button" class="btn btn-primary button my-3 color">
              Next
            </button>
          </div>
        </form>
        <div class="my-4 p-2 color">
          <p>SignIn with company SSO</p>
        </div>
      </div>
    </div>
  </div>
</div>
